h1{
    color: #AA7452;
}
h2{
    color: #F7F9F9;
}
a{
    color: #7C5841;

    text-decoration: none;
}
a:hover{
    color: #ffffff;
    cursor:pointer;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    background-color: wheat;
    color: #aa745228;
}
button:hover{
    background-color: #AA7452;
    text-decoration: none;
    color:#F7F9F9;
}

.tp-button{
    color: #aa745228;
    text-decoration: none;
    width: fit-content;
    padding: 5px;
}
ul{
    list-style: none;
}
.next{
    text-decoration: underline #aa745228;
}
iframe{
    border-radius: 10px;
}
.temas{
    display: grid;
    gap: 5px;
}
@media only screen and (max-width:600px) {
    iframe{
        border-radius: 10px;
        width: 80%;
        height: 100px;
    }
    button{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 3px;
    height: 26px;
    font-size: 12px;
    background-color: wheat;
    color: #aa745228;
    border: 1px solid gray;
    border-radius: 5px;
    }
    .tp-button{
    color: #aa745228;
    text-decoration: none;
    padding: 3px;
    height: 26px;
    font-size: 12px;
    }
    a{
        font-size: 12px;
    }

}
